<!-- Modal Window for booking -->

<div class="modal" id="book" tabindex="-1" role="dialog">

  <div class="modal-dialog" role="document">

    <div class="modal-content">

      <div class="modal-header">

        <h5 class="modal-title">Customer Information for Booking</h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

          <span aria-hidden="true">&times;</span>

        </button>

      </div>

      <div class="modal-body">

                 

<form>

 

<div class="form-group">

    <label for="customerName">Customer Name</label>

    <input type="text" class="form-control" id="customerName" placeholder="Enter Customer Name" required>

   

  </div>

   <div class="form-group">

    <label for="customerPhone">Customer Phone Number</label>

    <input type="tel" class="form-control" id="customerPhone" placeholder="Enter Customer Phone Number" pattern="[0-9]{10}" required>

   

  </div>
  <div class="form-group">

      <label for="guestCount">Guest Count</label>
  
      <input type="number" class="form-control" id="guestCount" placeholder="Enter Total Guest Count" min="1" max="20" required>
  
     

    </div>

   <div class="form-group">

    <label for="bookingFor">Booking for</label>

   <select class="form-control form-control-lg" id="bookingFor" required>

                <option value="">Select meal time</option>

                <option value="breakfast">Break Fast</option>

                <option value="lunch">Lunch</option>

                <option value="dinner">Dinner</option>

                </select>

   

  </div>

 

</form>

      </div>

      <div class="modal-footer">

        <button type="button" class="btn btn-primary">Save changes</button>

        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>

    </div>

  </div>

</div>